
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared styles */
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.display-flex {
  display: flex;
}

.dark01{
    color: #131313;
}
.dark02{
    color: #424242;
}
.dark03{
    color: #727272;
}
.dark04{
    color: #A1A1A1;
}

.bg-light{
    background-color: rgba(255, 143, 14, 0.1);
}

/* Header styles */

header{
    padding: 45px 240px;
    flex-direction: column;
}

/* navbar styles */

.navbar{
    justify-content: space-between;
    max-width: 1440px;
}

.navbar h3{
    font-weight: 700;
    font-size: 3rem;
}

.navbar ul{
    justify-content: center;
    align-items: center;
}

.nav-links{
    gap: 37px;
    line-height: 26px;
    font-weight: 600;
}


.nav-items{
    list-style: none;
}

.nav-items .nav-link{
    text-decoration: none;
}

.banner{
    max-width: 862px;
    margin: 0 auto;
    border: 1px solid red ;
}

.banner .banner-title{
    flex-direction: column;
    text-align: center;
    border: 2px solid blue;
}