
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Shared styles */
.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.display-flex {
  display: flex;
}

.dark01{
    color: #131313;
}
.dark02{
    color: #424242;
}
.dark03{
    color: #727272;
}
.dark04{
    color: #A1A1A1;
}

.orange{
    color: #ff900e;
}

.bg-light{
    background-color: rgba(255, 143, 14, 0.1);
}

.primary-btn{
    background-color: #ff900e;
    color: white;
    padding: 20px 25px;
    border-radius: 8px;
    border: none;
    font-size: 1.25rem;
    font-weight: 600;
}

/* Header styles */

.header-container{
    flex-direction: column;
    max-width: 1440px;
    justify-content: center ;
    margin: 0 auto;
}

/* navbar styles */

.navbar{
    justify-content: space-between;
    align-items: center;
}

.navbar h3{
    font-weight: 700;
    font-size:2.8rem;
}

.navbar ul{
    justify-content: center;
    align-items: center;
}

.nav-links{
    gap: 37px;
    line-height: 26px;
    font-weight: 600;
}


.nav-items{
    list-style: none;
}

.nav-items .nav-link{
    text-decoration: none;
}

/* Banner styles */
.banner{
    display: flex;
    flex-direction: column;
    gap: 33px;
    max-width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
    /* border: 1px solid red ; */
}

.banner .banner-title{
    flex-direction: column;
    text-align: center;
    font-size:4rem;
    line-height: 4.8rem;
    /* border: 2px solid blue; */
}

.banner .banner-description{
    /* border: 2px solid green; */
    line-height: 26px;
    text-align: center;
}

.banner-img{
    width: 100%;
}

/* Main section styles */

main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section{
    margin-top: 130px;
}

/* Main section 1: Teams and Features */

.teams-and-features{
    align-items: center;
}

.teams-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.features-container{
    margin-left: 73px;
    max-width: 537px;
    flex-direction: column;
    gap: 32px;
}

.feature-title{
    font-size: 2.8rem;
    font-weight: 700;
    line-height: 53px;
}


































































/* Navbar styles for medium screens */
@media screen and (max-width: 791px)  {
    .navbar,
    .nav-links{
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        max-width: 100%;
    }
}





















































































